{% if count_nodes %}
    <div class="reviews">
        <div class="reviews__text">
            {% for nid, data in nodes_reviews %}
                <div class="review">
                    <div class="review__name">{{ data.field_name }}</div>
                    <div class="review__created">{{ data.node.getCreatedTime|format_date('review_created_date') }}</div>
                    {% if data.field_social_network_account %}
                        <div class="review__account">{{ data.field_social_network_account }}</div>
                    {% endif %}
                    <div class="review__body">{{ data.body }}</div>

                    {% if data.field_staff %}
                    <div class="review__staff">
                        <i class="fas fa-user"></i> {{ data.field_staff }}
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="reviews__form">
            <div class="reviews__form-wrapper">
                <div class="reviews__title">{{ 'Give feedback'|t }}</div>
                {{ getReviewForm(TRUE, TRUE, "Add a review") }}
            </div>
        </div>
    </div>
{% else %}
    <div class="reviews__title">{{ 'Be the first visitor who has left a review'|t }}</div>
    {{ getReviewForm(TRUE, TRUE, "Add a review") }}
{% endif %}